@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply scroll-smooth ease-in-out;
  }

  body {
    @apply body-1 bg-black text-white;
  }

  .hero-home .swiper .swiper-button-next {
    @apply w-10 h-10 desktop:w-6 desktop:h-6 top-[unset] bottom-12 right-6 tablet:right-[unset] tablet:bottom-10 tablet:left-20;
  }

  .hero-home .swiper .swiper-button-prev {
    @apply w-10 h-10 desktop:w-6 desktop:h-6 top-[unset] left-[unset] bottom-12 right-24 tablet:right-[unset] tablet:bottom-10 tablet:left-8;
  }

  .hero-home .swiper .swiper-button-next::after {
    @apply text-3xl tablet:text-xl font-bold text-white transition-all duration-300 ease-in;
  }

  .hero-home .swiper .swiper-button-prev::after {
    @apply text-3xl tablet:text-xl font-bold text-white transition-all duration-300 ease-in;
  }

  .hero-home .swiper .swiper-button-next:hover::after,
  .hero-home .swiper .swiper-button-prev:hover::after {
    @apply desktop:opacity-50 ;
  }
  
}

@layer utilities {

  .locale-dropdown {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    overflow-y: auto;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.12) 0%,
        rgba(255, 255, 255, 0.12) 100%
      ),
      #121212;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.6) #f9f9f9;
  }

  .locale-dropdown::-webkit-scrollbar {
    @apply w-[14px];
  }

  .locale-dropdown::-webkit-scrollbar-track {
    @apply rounded-tr-[4px] rounded-br-[4px] bg-[#f9f9f9];
  }

  .locale-dropdown::-webkit-scrollbar-thumb {
    @apply border-4 border-solid rounded-[14px] border-[#f9f9f9] bg-[rgba(0,0,0,.6)];
  }

  .locale-dropdown a {
    @apply block;
  }

  .locale-dropdown a:hover {
    background: rgba(144, 202, 249, 0.08);
  }

  .slide-rtl {
    animation: wn-slide-rtl .5s linear forwards;
  }

  .slide-ltr {
    animation: wn-slide-ltr .5s linear forwards;
  }
  
  .wn-shadow-slide {
    @apply absolute top-0 left-0 z-[1];
  }

  .wn-main-slide {
    @apply absolute top-0 left-0 z-0 select-none;
  }

  .wn-slide-text {
    animation: text-fade .5s linear forwards;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes wn-slide-rtl {
  0%{transform: scaleX(2);}
  100%{transform: scaleX(1);}
}
@keyframes wn-slide-ltr {
  0%{transform: scaleX(1);}
  100%{transform: scaleX(0);}
}
@keyframes text-fade {
  0%, 100%{
    transform: translateY(0);
    opacity: 1;
  }
  35%, 65%{
    transform: translateY(5px);
    opacity: 0;
  }
}

/* @media screen(desktop) {
  body {
    @apply grid grid-cols-12 gap-[12px] m-auto justify-center;
  }
} */
